<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head lang="en">
  <link th:href="@{/main.css}" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/5f58b769bf.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8" />
  <title>Motivatr</title>
</head>

<body>
  <div th:insert="fragments/general :: header"></div>
  <div class="container">
    <div class="search-list" th:switch="${users.size()}">
      <h2 th:case="0">No users found!</h2>
      <div th:case="*">
        <ul>
          <li class="search" th:each="user : ${users}">
            <div class="progression-container">
              <div class="search-info-cluster">
                <a class="search-username" th:href="@{/users/{username}(username=${user.username})}">
                  <img class="post-icon" th:src="${user.imageUrl}">
                </a>
                <a class="search-username" th:href="@{/users/{username}(username=${user.username})}">
                  <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span>
                </a>
              </div>
              <div class="stat-1">
                <div class="stat-box">
                  <p class="stat-number"><span th:text="${user.usersData.totalCompleted}"></p>
                  <p class="stat-description">Challenges Finished</p>
                  <p class="stat-date">April 9 - Present</p>
                </div>
              </div>
              <div class="stat-1">
                <div class="stat-box">
                  <div class="center-stats">
                    <div class="stat-circle">
                      <p class="stat-streak"> <span th:text="${user.usersData.streak}"> </p>
                    </div>
                  </div>
                  <p class="stat-description">Current Streak</p>
                  <p class="stat-date">April 9 - Present</p>
                </div>
              </div>
              <div class="stat-1">
                <div class="stat-box">
                  <p class="stat-number"><span th:text="${user.usersData.highestStreak}"></p>
                  <p class="stat-description">longest streak</p>
                  <p class="stat-date">May 9 - June 2</p>
                </div>

              </div>
            </div>
          </li>
        </ul>

      </div>
</body>

</html>