<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
  <link th:href="@{/main.css}" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/5f58b769bf.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8" />
  <title>Edit my profile</title>
</head>

<body>
  <div th:insert="fragments/general :: header"></div>
  <div class="profile_edit">
    <h1>Edit my details</h1>
    <form class="profile_edit_form" action="#" th:action="@{/users/edit}" th:object="${user}" method="post">
      <ul>
        <li>
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" th:id="*{firstName}" th:value="${principal.firstName}">
        </li>
        <li>
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" th:id="*{lastName}" th:value="${principal.lastName}">
        </li>
        <li>
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" th:id="*{email}" th:value="${principal.email}">
        </li>
        <li>
          <label for="phone">Phone:</label>
          <input type="text" id="phone" name="mobile" th:id="*{mobile}" th:value="${principal.mobile}">
        </li>
        <li>
          <label for="image_url">Profile image:</label>
          <input type="text" id="image_url" name="image_url" th:id="*{imageUrl}" th:value="${principal.imageUrl}">
        </li>
        <li>
          <label for="password">Password:</label>
          <input type="password" id="password" th:field="*{password}" name="password">
        </li>
        <li>
          <label for="password">Confirm Password:</label>
          <input type="password" th:field="*{passwordConfirm}" name="passwordConfirm">
        </li>
      </ul>
      <div class="edit_user_buttons">
        <button class="submit_btn" type="submit" id="submit">Submit</button>
      </div>
    </form>
  </div>
</body>

</html>

<!--

-->